<table class="game-table">
    <thead>
        <th scope="col">Starting Time</th>
        <th scope="col">Home Team</th>
        <th scope="col">Score</th>
        <th scope="col">Away Team</th>
        <th scope="col">Venue</th>
    </thead>
    <tbody id="tabe_body">
        <!-- Table body -->
        {% for game in games %}
        <tr>
            <td id="time">{{game.time}}</td>
            <td id="home">{{game.homeTeam.name}}</td>
            <td id="score">
                {{game.homeTeam.score}} - {{game.awayTeam.score}}
            </td>
            <td id="away">{{game.awayTeam.name}}</td>
            <td id="venue">{{game.venue}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
