* {
    margin: 0;
    padding: 0;
    font-family: "Cascadia Code", sans-serif;
}

/* Header background */
.header {
    min-height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url("background.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    color: white;
    text-align: center;
    padding: 6% 8%;
}

/* Nav Bar */
nav {
    display: flex;
    padding: 2% 8%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: lavender;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* Table */
.game-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 100%;
    box-shadow: 0 0 20px lavender;
}

.game-table thead tr {
    background-color: #1c1e2e;
    color: white;
    font-size: 22;
    text-align: left;
}

.game-table th {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.game-table th,
td {
    padding: 12px 15px;
}

.game-table tbody tr {
    color: rgb(223, 223, 223);
    background-color: #202233;
    border-bottom: thin solid #202233;
}

.game-table tbody tr:nth-of-type(even) {
    background-color: #1c1e2e;
}

.game-table tbody tr:last-of-type {
    border-bottom: 2px solid #202233;
}

.game-table tbody tr td:nth-child(1) {
    width: 20%;
}
.game-table tbody tr td:nth-child(2) {
    width: 25%;
    text-align: center;
}
.game-table tbody tr td:nth-child(3) {
    width: 10%;
    text-align: center;
}
.game-table tbody tr td:nth-child(4) {
    width: 25%;
    text-align: center;
}
.game-table tbody tr td:nth-child(5) {
    width: 20%;
}

.game-table thead th:nth-child(2),
.game-table thead th:nth-child(3),
.game-table thead th:nth-child(4) {
    text-align: center;
}
