<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- CSS -->
        <link
            href="http://fonts.cdnfonts.com/css/cascadia-code"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./static/style.css" />

        <title>MLB Tracker</title>
    </head>
    <body>
        <section class="header">
            <nav>
                <div class="nav-links">
                    <ul>
                        <li><a href="">HOME</a></li>
                        <li><a href="">ABOUT</a></li>
                        <li><a href="">SOURCE CODE</a></li>
                        <li><a href="">CONTACT</a></li>
                    </ul>
                </div>
            </nav>

            <div class="text-box">
                <h1>Today's MLB Games</h1>
            </div>
        </section>
        <section class="main">
            <div class="table">
                <!-- Game scores -->
                {% include 'includes/games.html' %}
            </div>
        </section>
    </body>
</html>
